<tr id="{{ task.id }}">
  <td>
    <input
      type="checkbox"
      name="task"
      (click)="handleFinished($event, task)"
      *ngIf="task.finished"
      checked
    />
    <input
      type="checkbox"
      name="task"
      (click)="handleFinished($event, task)"
      *ngIf="!task.finished"
    />
  </td>
  <td *ngIf="task.finished" class="done">{{ task.text }}</td>
  <td *ngIf="!task.finished">{{ task.text }}</td>
  <td>
    <mat-icon class="trash-can-icon" (click)="handleRemoveTask(task)"
      >delete</mat-icon
    >
  </td>
</tr>
